*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    list-style: none;
    outline: 0;
    text-decoration: none;
    font-family: FuzzyBubbles;
}

@font-face{
    src:url(css/fonts/FuzzyBubbles-Regular.ttf);
    font-family: FuzzyBubbles;
}

@font-face{
    src:url(css/fonts/SourceCodePro-VariableFont_wght.ttf);
    font-family: Var;
}

h1{
    font-size: 24px;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    font-style: Bold;
    font-weight: 100;
    text-align: left;
    color:  #6E7D75;
    margin: 0;
}

h2{
    font-size:20px;
    font-family: FuzzyBubbles;
    font-style: normal;
    text-align: left;
    text-indent: 10px;
    color: #6E7D75;
}

h3{
    font-size:16px;
    text-align: left;   
    text-decoration: none; 
    font-family: Var;
}
p{
    font-size: 14px;
    text-decoration: none;
    text-align: left;
    text-indent: 20pt;
    line-height: 1.6;
    margin: 0 0 1rem; 
}

body{
    background-color: #fff;
    height: 100vh;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    line-height: 75px;
    padding: 0 15%;
    background: #6E7D75;
}

nav .nav-list{
    display: flex;
}

nav .nav-list .nav-item{
    cursor: pointer;
    height: 100%;
    padding: 0 30px;
    transition: .4s;   
}

nav .nav-list .nav-item:hover {
    background: yellow;}

nav .nav-list .nav-link {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

@media (max-width: 935px) {
    nav{
        padding: 0 2rem;
    }

nav .nav-list .nav-item {
    padding: 0 20px;
}
}

@media (max-width: 675px) {
    nav .nav-list {
        display: grid;
        position: absolute;
        background: #404040;
        width: 100%;
        top: 75px;
        left: 0;
        transform: translateY(-100%);
        z-index: -1;
        transition: .6s;
    }
    nav .nav-list .nav-item{
        padding-left: 35px;
    }

    nav .navbar-toggler{
        display: grid !important;     
    }
}
    nav .navbar-toggler{
        display: none;
        height: min-content;
        margin: 18px -10px 0 0 ;
        cursor: pointer;
    }

    nav .navbar-toggler .bar {
        width: 40px;
        height: 5px;
        margin-bottom: 10px;
        background: #fff;
        border-radius: 10%;
        transition: .4s; 
    }

    input {
        display: none;
    }

    input:checked ~ nav .nav-list {
        transform: translateY(0);
    }

    input:checked ~ nav .navbar-toggler{
        margin-top: 35px;
    }

    input:checked ~ nav .navbar-toggler .bar:nth-child(1){
        position: absolute;
        transform: rotate(45deg);
    }

    input:checked ~ nav .navbar-toggler .bar:nth-child(2){
        display: none;
    }

    input:checked ~ nav .navbar-toggler .bar:nth-child(3){
        transform: rotate(-45deg);
    }





 .preschool{
    width: 40%;
    float: left;
    margin-left: 30px;
    margin-right: 40px;
    padding:30px;
 }

 .preschool img{
    height: auto;
 }

 .chinese{
    width: 40%;
    float: left;
    margin-left: 20px;
    margin-right: 40px;
    padding:30px;
 }

 .chinese img{
    height: auto;
 }

 /*about page*/

 .myself{
    width: 50%;
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    padding:20px;
 }

 .myself img{
    height: auto;
}

/*contact page*/

 .center{
    display: block;
    width: 20%;
 }

 .location{
    width:100%;
    text-align: center;
    line-height: 30px;
 }

.icon{
    float: left;
    
}
/*footer*/
footer{
    width: 100%;
    height: 100%;
    background-color: #6E7D75;
    overflow: hidden;
    margin-top: 50px;
}

footer ul{
    width:fit-content;
    float:left;
    padding-left: 30px;
}

footer ul li{
   display:block;
   list-style-type: none;
   line-height: 20px;
}

footer ul li a{
    font-family:FuzzyBubbles;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
 }

 .logo-2{
    width: 70px;
   float: right;
   vertical-align: middle;
}

.logo-2 img{
    width: 100%;
    margin:0;
    padding:0;
}

.copyright{
    color: #fff;
    text-align: center;
    padding:100px;
}





/* display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;*/
