*{box-sizing:border-box;}

@font-face{
    src:url(css/fonts/FuzzyBubbles-Regular.ttf);
    font-family: FuzzyBubbles
}

@font-face{
    src:url(css/fonts/SourceCodePro-VariableFont_wght.ttf);
    font-family: Var;
}




h1{
    font-size: 24px;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    font-style: Bold;
    font-weight: 100;
    text-align: left;
    color:  #6E7D75;
    margin: 0;
}

h2{
    font-size:20px;
    font-family: FuzzyBubbles;
    font-style: normal;
    text-align: left;
    text-indent: 10px;
    color: #6E7D75;
}

h3{
    font-size:16px;
    text-align: left;   
    text-decoration: none; 
    font-family: Var;
}
p{
    font-size: 14px;
    text-decoration: none;
    text-align: left;
    text-indent: 20pt;
    line-height: 1.6;
    margin: 0 0 1rem; 
}

/*header*/

*{
    margin:0;
    padding:0;}

body{
    background-color: rgba(207, 218, 182, 0.236); 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.nav-bar{
    width: 100%;
   display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: #6E7D75;
    padding: 12px 20px; 
}

.logo{width: 100px;}
.menu{display:flex;}
.menu li{ padding-left:30px;}
.menu li a {
    display:inline-block;
    text-decoration: none;
    color: floralwhite;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;}

.menu li a::after{
    content: "";
    position: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: blue;
    transition: 0.15s ease-out;}

.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu{
    position: absolute;
    color:blue;
    cursor:pointer;
    font-size: 1.5rem;
    display: none;}

.open-menu{
    top: 50%;
    right:20px;
    transform: translateY(-50%);}

.close-menu{ 
    top:20px;
    right: 20px}









 .preschool{
    width: 40%;
    float: left;
    margin-left: 30px;
    margin-right: 40px;
    padding:30px;
 }

 .preschool img{
    height: auto;
 }

 .chinese{
    width: 40%;
    float: left;
    margin-left: 20px;
    margin-right: 40px;
    padding:30px;
 }

 .chinese img{
    height: auto;
 }

 /*about page*/

 .myself{
    width: 50%;
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    padding:20px;
 }

 .myself img{
    height: auto;
}

/*contact page*/

 .center{
    display: block;
    width: 20%;
 }

 .location{
    width:100%;
    text-align: center;
    line-height: 30px;
 }

.icon{
    float: left;
    
}
/*footer*/
footer{
    width: 100%;
    height: 100%;
    background-color: #6E7D75;
    overflow: hidden;
    margin-top: 50px;
}

footer ul{
    width:fit-content;
    float:left;
    padding-left: 30px;
}

footer ul li{
   display:block;
   list-style-type: none;
   line-height: 20px;
}

footer ul li a{
    font-family:FuzzyBubbles;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
 }

 .logo-2{
    width: 70px;
   float: right;
   vertical-align: middle;
}

.logo-2 img{
    width: 100%;
    margin:0;
    padding:0;
}

.copyright{
    color: #fff;
    text-align: center;
    padding:100px;
}