*{box-sizing:border-box;}

body{ 
@font-face{
    src:url(css/fonts/FuzzyBubbles-Regular.ttf);
    font-family: FuzzyBubbles
}

@font-face{
    src:url(css/fonts/SourceCodePro-VariableFont_wght.ttf);
    font-family: Var;
}

h1{
    font-size: 24px;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    font-style: Bold;
    font-weight: 100;
    text-align: left;
    color:  #6E7D75;
    margin: 0;
}

h2{
    font-size:20px;
    font-family: FuzzyBubbles;
    font-style: normal;s
    text-align: left;
    text-indent: 10px;
    color: #6E7D75;
}

h3{
    font-size:16px;
    text-align: left;   
    text-decoration: none; 
    font-family: Var;
}
p{
    font-size: 14px;
    text-decoration: none;
    text-align: left;
    text-indent: 20pt;
    line-height: 1.6;
    margin: 0 0 1rem; 
}
}
/*header*/

*{
    margin:0;
    padding:0;}

body{
    background-color: rgba(207, 218, 182, 0.236);   
}

nav{
    width: 100%;
    height: 73px;
    background-color: white;
}

nav p{
    font-family: 'Courier New', Courier, monospace;
    color:rgba(65, 75, 42, 0.236),
    font-size: 14px;
    line-height: 55px;
    float: :left;
    padding: 0px 20px;
}

nav ul{
float: left;
margin-left: 20%;
width:fit-content;
}

nav ul li{
    list-style:none;
    float: left;
    position: relative;

}

nav ul li a {
    display:block;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    color: #1e1e1e;
    padding:30px 14px; 
}

nav ul li ul {
    display:none;
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 4px;4px;4px;4px;
}

nav ul li:hover ul {
    display:block;
}

nav ul li ul li {
    width: 185px;
    border-radius: 4px;4px;4px;4px;
}
nav ul li ul li a {
    padding:8px 14px; 
}
nav ul li ul li a:hover {
    color: green;
}

.logo{
    position: absolute;
    height:auto;
    left: 0px;
    width: 100px;
    text-align: left;
}

ul li a:hover {
    color: green;
}

/*front page*/

*{
    box-sizing: border-box;
 }
 .preschool{
    width: 40%;
    float: left;
    margin-left: 30px;
    margin-right: 40px;
    padding:30px;
 }

 .preschool img{
    height: auto;
 }

 .chinese{
    width: 40%;
    float: left;
    margin-left: 20px;
    margin-right: 40px;
    padding:30px;
 }

 .chinese img{
    height: auto;
 }

 /*about page*/

 .myself{
    width: 50%;
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    padding:20px;
 }

 .myself img{
    height: auto;
}

/*contact page*/

 .center{
    display: block;
    width: 20%;
 }

 .location{
    width:100%;
    text-align: center;
    line-height: 30px;
 }

.icon{
    float: left;
    
}
/*footer*/
footer{
    width: 100%;
    height: 100%;
    background-color: #6E7D75;
    overflow: hidden;
    margin-top: 50px;
}

footer ul{
    width:fit-content;
    float:left;
    padding-left: 30px;
}

footer ul li{
   display:block;
   list-style-type: none;
   line-height: 20px;
}

footer ul li a{
    font-family:FuzzyBubbles;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
 }

 .logo-2{
    width: 70px;
   float: right;
   vertical-align: middle;
}

.logo-2 img{
    width: 100%;
    margin:0;
    padding:0;
}

.copyright{
    color: #fff;
    text-align: center;
    padding:100px;
}